This notebook takes ground truth data for tracking and converts it to the OpenPTV data in Frames

In [1]:
import pathlib, os
working_directory = pathlib.Path('/home/user/Dropbox/Open_Pro_My_PTV/Tracking/949_particles')
os.chdir(pathlib.Path(working_directory))
print(os.path.abspath(os.getcwd()))

/home/user/Dropbox/Open_Pro_My_PTV/Tracking/949_particles

In [11]:
import pandas as pd

# Read the header line
with open(working_directory / 'origin' / 'origin_00000.txt') as f:
    for line in f:
        if line.startswith('#'):
            header = line[1:].strip().split()
            break

# Read the data, skipping the header line(s)
origin_df = pd.read_csv(
    working_directory / 'origin' / 'origin_00000.txt',
    comment='#',
    delim_whitespace=True,
    names=header
)
origin_df.rename(columns=lambda x: x.strip(','), inplace=True)
origin_df['ID'] = origin_df['ID'].astype(int)
for col in origin_df.columns:
    if col != 'ID':
        origin_df[col] = origin_df[col].astype(float)
origin_df.head()

/tmp/ipykernel_552591/126983585.py:11: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  origin_df = pd.read_csv(

,ID,X,Y,Z,xc0,yc0,xc1,yc1,xc2,yc2,xc3,yc3
0,250,134.554431,165.677572,143.637106,375.044450,356.012807,384.389545,416.088849,439.233023,337.090519,426.958841,418.681389
1,695,154.365276,146.095693,130.049090,339.753993,388.769437,348.519439,441.318202,395.954569,368.374971,382.727308,445.828540
2,1069,154.059499,134.594652,142.787111,316.213915,362.755296,325.009035,413.825967,372.656106,342.513880,358.629590,419.984701
3,1741,141.145272,148.266317,148.025512,341.389654,348.856569,350.494637,405.163203,402.908139,329.452818,389.612592,409.861142
4,2153,147.940949,138.090230,127.653911,321.729748,392.305740,330.123325,446.380785,381.398907,371.366818,367.769572,451.752579

In [12]:
is_unique = origin_df['ID'].is_unique
print("All IDs are unique:", is_unique)

All IDs are unique: True